
body {
  margin: 0px;
  /* background-color: #F5F5F5; */
  background-color: #FBFFFE;
  font-family: "Merriweather";
}

.header-content{
  width: 100%;
  background: rgb(172, 26, 39);
	left: 0;
  top: 0;
  display: flow-root;
  padding: 10px 0px;
}

.container {
  display: flex;
  
}

.bet-button{
  cursor: pointer;
}
.user-menu {
  width: 15%;
  background: rgb(172, 26, 39);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  color: white;
  height: 100%;
}

.user-menu-none{
  width: 15%;
}

.user-menu-element div{
  color: white;
  padding: 10px 5px;
}
.user-menu-element div:hover {
  opacity: 0.7;
}
.user-menu-element i {
  font-size: 20px;
}

.page {
  width: 60%;
  background-color: #F5F5F5;
  padding: 30px;
  font-family: "Merriweather";
}

.page .page-title{
  font-size: 25px;
  color: #fbac21;
  text-align: center;
  font-weight: bold;
}

.page .page-subtitle{
  font-size: 20px;
  margin-bottom: 20px;
}


.page .page-money{
  font-size: 20px;
  margin-bottom: 20px;
  color: #ac1a27;
}

.page .bet-amount{
  color: #ac1a27;
  cursor: default;
}

.page .bet-amount.won{
  color: green;
}

.page .bet-amount.lost{
  color: red;
}


.page .bet-short{
  margin-bottom:20px;
  cursor: pointer;
  margin-left: 20px;
}


.news-menu {
  width: 25%;
  background: rgb(172, 26, 39);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  /* height: 100%; */
  max-height: 500px;
  overflow: auto;
  font-family: "Merriweather";
}


.news-menu .news{
  margin-bottom: 30px;
}

.news-menu .title{

  font-size: 18px;
  color: #fbac21;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;

}

.news-menu .news .sub-title{

  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;

}

.news-menu .news .description{

  font-size: 14px;
  margin-bottom: 10px;
  text-indent: 50px;
  text-align: justify; 
  letter-spacing: 1px;

}



.news-menu .news .thumbnail{
  width: 150px;
  float: right;
  margin-left: 8px;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

.header-content-link{
  padding: 20px 15px;
  float: left;
  color: white;
  font-size: 18px;
}

.header-content-link:hover{
  color: #fbac21;
}

.header-content-logo img {
  height: 70px;
}

.header-content-link.active {
  border-bottom: 3px solid white;
}

.header-content-logo{
	float: left;
}

/* .user-menu-element {
  width: 100%;
} */


.user-info {
  float: right;
  padding: 7px 0px;
}

.user-info .user-name {
  float: left;
  color: white;
  padding: 15px 15px;
}

.user-info .user-avatar {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}



.event{
  padding: 30px;
  font-family: "Merriweather";
  font-size: 18px;

}

.margin-bottom{
  margin-bottom: 10px;
}

.event .title{
  font-size: 25px;
  color: #fbac21;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}


.event-info{
  
  padding: 15px;
  border: 1px dotted #ac1a27;
  display: inline-block;
}

.event-info.active{
  border: none;
}

.event .title.active{
  text-align: center;
}

.event .sub-title{
  font-size: 20px;
  
}

.event .date{

}

.event .pair{
  font-size: 16px;
  margin-bottom: 30px;
  display: flow-root;
}

.event .pair .image{
  width: 250px;
  float: right;
  
}


.event .pair .pair-info{
  float: left;
  padding: 30px;
}

.event .pair .pair-info .description{
  max-width: 20em;
}

@media(max-width: 1000px){
  .event .pair .pair-info .description{
  max-width: none;
}
}

.event .pair .odd{
  color: #ac1a27;
}

.event .pair .name{
  color:black;
  font-size: 18px;
  text-decoration: underline;
  
}

.one-pair{
  font-size: 16px;
  
  display: flow-root;
  padding:30px;
  padding: 30px;
  font-family: "Merriweather";
  font-size: 18px;
}



.one-pair .image{
  width: 330px;
  float: right;
}

.one-pair .name{
  color:black;
  font-size: 24px;
  color:#fbac21;
  font-weight: bold;
  text-align: center;

}

.one-pair .pair-history{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.one-pair .description{
  color:black;
  font-size: 18px;
  margin-top: 30px;
}

.one-pair .date{
  font-size: 16px;
}

.one-pair .place{
  font-size: 16px;
  color:  #ac1a27;
  margin-left:15px;
}

.one-pair .history-text{
  color:#fbac21;
  font-weight: bold;
  font-size: 20px;
}

.one-pair .host{
  margin-left:15px;
}

.login-page{

  background-color: #ac1a27;
  height: 100vh;

}


.add-races-button{
  text-align: center;
}

.add-races-wrapper{
  margin: 0 auto;
}
.add-races{
  width: auto;
  padding: 30px;
  margin: 0 auto;
  display: flex;

}

.input-display{
  display: inline-flex;
}

.margin-auto{
  margin: 0 auto;
  background-color: #F5F5F5;
}

@media(max-height: 800px){
  .add-races{
    padding: 10px;
  }

  .add-races .races, .add-races .pairs{ 
    padding: 10px !important;

  }

  .add-races .input{
    margin-bottom:10px !important;

  }

}

@media(max-width: 800px){
  .add-races{
    display: inherit; 
    padding: 0px;
  }
  .add-races .input {
    
    text-align: center;
  }

  .add-races .races, .add-races .pairs{
    
    margin-top: 20px;
    margin-right: 0px !important;
  }

  .add-races .input .form-control-mobile{
    width: 150px;
  }

  .add-races-button{
    
    margin-top: 20px;
    margin-bottom: 40px;

  }
}

.add-races-button .btn1:hover {
  background: #fbac21;
  color:  #ac1a27;
  text-decoration: none;
}


.add-races-button .btn1{
  
  background: #F5F5F5;;
  
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;

  color:  #ac1a27;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;

  border: 1px solid  #ac1a27;
  
}

.add-races .title{

      font-family: "Merriweather";
      font-size: 25px;
      font-weight: bold;
      text-align: center;
}

.add-races .races, .add-races .pairs{
  border: 1px dotted #ac1a27;
  padding: 30px;
  margin-right: 50px;
  background-color: #F5F5F5;
}

.add-races .input{
  margin-bottom:40px;

}

.add-races .input input {
  margin: 0px;
  outline: 0;
}

.add-races .input .form-control{
  outline: none;
  border-radius: 20px;
  padding: 9px;
  border: 1px solid #ac1a27;
  font-family: "Merriweather";
}


.add-races .input .form-control-odd{
  outline: none;
  font-family: "Merriweather";
  border-radius: 20px;
  padding: 8px;
  width: 50px;
  border: 1px solid #ac1a27;
  margin-left: 10px;
}

.input .text{
  font-family: "Merriweather";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}



.login{

  position: fixed;
  width: 215px;
  top: 50%;
  left: 50%;
  /* margin: -200px 0 0 -200px; */
  transform: translate(-50%, -50%);  
  margin-left: 15px;
  margin-right: 15px;
}

.login .title{
  color:#fbac21;
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 10px;
  text-align: center;
}

.login .input{
  margin-bottom:10px;
  text-align: center;

}

.input input {
  margin: 0px;
  outline: 0;
}

.input .form-control{
  border-radius: 20px;
  padding: 9px;
  border: none;
}

.login .checkbox{
  color:#fbac21;
  font-weight: bold;
  margin-bottom: 10px;
}


.btn{
  
  background: #F5F5F5;;
  
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;

  color:  #ac1a27;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}

.btn.register{
  margin-left: 40px;
}

.btn:hover {
  background: #fbac21;
  color:  #ac1a27;
  text-decoration: none;
}

.register-button{
  color: black;
}

.bet-input .input {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}


/*RESPONSIVE HEADER*/



.header-content .icon {
  display: none;
  
}

@media screen and (max-width: 800px) {
  .header-content a:not(:first-child) {display: none;}
  .header-content a:first-of-type {margin-top: 60px;}
  .header-content a.icon {
    float: right;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    top: 30px;
    right: 0;
    position: absolute;
    color: white;
  }
  .header-content.responsive {
    position: relative;
  }

  .header-content.responsive .icon {
    position: absolute;
    right: 0;
    top: 30px;
    color: #fbac21;
    
  }
  .header-content .user-info{
    position: absolute;
    right: 66px;
    top: 10px;
  }
  .header-content.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
 
  .user-menu, .news-menu{
    display: none;
  }
  .loader{
    left: 42% !important; 
  }

  .page{
    width:100%;
    padding: 10px;
  }

 
}

.logout{
  cursor: pointer;
}




/*RESPONSIVE HEADER*/

@media(max-width: 1200px){
  .header-content-link{
    padding: 20px 10px;
  }
}

@media(max-width: 1100px){
  .header-content-link{
    padding: 20px 5px;
  }
}



.input .span, .login-button .span, .register-button .span{

  margin-top: 5px;
  margin-left: 5px;
  color: #fbac21;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.login-button .span, .register-button .span{
    display: inline-flex;
}


 .loader{
  position: absolute;
    width: 70px;
    top: 45%;
    left: 47%;
 }


.backdrop{
   position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 50px;
    z-index: 300;
}

.login .failed-message{
  position: inline-flex !important;
}

table {
    border-collapse: collapse;
    display: none;
}

.table-active{
  display: block;
}

tr {
    border: 2px solid #ac1a27;
    width: 100px;    
    padding: 5px;
}

th, td{
    text-align: center;  
    border: 2px solid #ac1a27;
    width: 100px;    
    padding: 5px;
}

td{
  cursor: pointer;
}


.admin .update-button-open{
  
}

.admin .update-button{
  cursor: pointer;
  float: right;
}

.admin .update-input{
  width: 70px;
  float: left;
  text-align: center;
  font-family: "Merriweather";
  outline-color:  #ac1a27;
  border-radius: 20px;
  
  
  border: none;
}

/*dropdown autosuggest*/

.dropdown-content .options{
  
  font-family: 'Merriweather';
  font-size: 14px;
  color: #5c6062;
  text-align: center;
  letter-spacing: 0.01em;
  line-height: 36px;
  height: 37px;
  text-indent: 10px;
}


 .dropdown-content {
   position: absolute;
   background-color: white;
  display: none;
  z-index: 100;
  border: 1px solid #ac1a27;
  padding: 0;
  border-radius: 20px;
  width: 216px;
}
 .dropdown-content div {
    border-radius: 20px;
    cursor: pointer;
}

 .dropdown-content div:hover{
    background: #fbac21;
}

 .options.keyHover{
    background: #fbac21;
}
 
 .dropdown-content.block {
  display: block;
}

.main-admin .title{
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  
}

.main-admin{
  
  text-align: center;
  padding: 30px;
}

.main-admin .subtitle{

  text-align: left;
  margin-bottom: 30px;  
  font-size: 25px;
}

.amount-error{
  border: 1px solid #fbac21;
  padding: 10px;
  color: #ac1a27;
  margin-bottom: 10px;
}

.bet-added{

    padding: 10px;
    color: green;
    margin-bottom: 10px;

}