
body {
  margin: 0px;
}

.header-content{
  width: 100%;
  background: rgb(172, 26, 39);
	left: 0;
  top: 0;
  display: flow-root;
  padding: 10px 0px;
}

.container {
  display: flex;
}

.user-menu {
  width: 15%;
  background: rgb(172, 26, 39);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  color: white;
  height: 100%;
}

.user-menu-element div{
  color: white;
  padding: 10px 5px;
}
.user-menu-element div:hover {
  opacity: 0.7;
}
.user-menu-element i {
  font-size: 20px;
}

.page {
  width: 60%;
}

.news-menu {
  width: 25%;
  background: rgb(172, 26, 39);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  /* height: 100%; */
  max-height: 400px;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

.header-content-link{
  padding: 20px 25px;
  float: left;
  color: white;
  font-size: 20px;
}

.header-content-logo img {
  height: 70px;
}

.header-content-link.active {
  border-bottom: 3px solid white;
}

.header-content-logo{
	float: left;
}

/* .user-menu-element {
  width: 100%;
} */